{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/instructor_form.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="{% static "js/jquery.formset.js" %}"></script>
  <script src="{% static "js/instructor-form-libs-init.js" %}"></script>
  <script src="{% static "js/instructor-form-custom-effects.js" %}"></script>
  <script type="text/javascript">
      /**
       * Toggle display of the skills configuration pane.
       *
       * Depends on grading settings.
       *
       * Used by a Django form.
       */
      var toggleGradingSkillsDisplay = function(e) {
        if ($("#id_enable_grading").is(':checked')) {
          $(".skills-formset").show();
          $(".add-row").show();
          $(".delete-row").show();
          // ACTEDU-427: add "Remove" btn if need be
          var options = $.fn.formset.defaults;
          var lastSkillsFormset = $(".skill-forms-container").last();
          if (lastSkillsFormset.has('.' + options.deleteCssClass).length === 0) {
            lastSkillsFormset.append(
              '<a class="' + options.deleteCssClass + '" ' +'href="javascript:void(0)">' + options.deleteText + '</a>'
            );
            var delCssSelector = $.trim(options.deleteCssClass).replace(/\s+/g, '.');
            lastSkillsFormset.find('a.' + delCssSelector).click(options.customRemoved);
          }
        } else {
          $(".skills-formset").hide();
          $(".add-row").hide();
          $(".delete-row").hide();
        }
      };
  </script>

  <title>Edit drawing tool</title>
{% endblock %}

{% block content %}
  <div class="top-btn"><a href="/instructor" class="btn btn-default">Main Page</a></div>
  <div class="page-header page-title">
    <h1>Set up drawing tool</h1>
  </div>

  <div>
    {% crispy form %}
  </div>
{% endblock %}
