.page-title {
  text-align: center;
  margin-top: 20px;
}
.container {
  overflow: hidden;
}
.messages.success {
  color: green;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
}
.submit {
  float: right;
}
.direct-link > div.controls {
   padding-top: 7px;
}
.top-btn {
  margin-top: 40px
}
/* Scrolling for autocomplete. */
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;
}
