{% extends "base.html" %}

{% block head %}
    <title>LTI Error</title>
{% endblock %}
{% block content %}
  <div class="error-msg">
    <p class="error-title">Error</p>
    <p>{{ message }}</p>
  </div>
{% endblock %}
