<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Drawing Tool</title>
</head>
<body>
    <div id="app"
         toolRef="{{ tool_uuid }}">
    </div>
</body>
{% load static %}
<script src="{% static "js/frontend.js" %}"></script>
</html>
